openapi: 3.0.1
info:
  title: Ascend API V1
  version: v1
  description: 'Ascend REST API for insurance financial operations: billing & invoicing, premium financing, payments, installment
    plans, insureds, programs, loans, payouts, and refunds.'
servers:
- url: https://sandbox.api.useascend.com
  description: Test server
- url: https://api.useascend.com
  description: Production server
tags:
- name: Attachments
  description: Represents a file that is associated with a program.
- name: Billables
  description: Represents an insurance quote or endorsement to be billed to the insured.
- name: CancelationReturns
  description: Represents the cancelation of an insurance quote
- name: Carriers
  description: Represents the carriers Ascend supports for quote creation.
- name: Contacts
  description: Represents the contacts that may be associated with an Insured account.
- name: CoverageTypes
  description: Represents the coverage types Ascend supports for quote creation.
- name: FinanceEstimate
  description: Estimated financing terms.
- name: InstallmentPlans
  description: A payment plan broken down over a seriies of regular installments
- name: Installments
  description: An single installment on a installment plan
- name: Insureds
  description: Represents the person or business entity that is purchasing the collection of insurance quotes.
- name: Invoices
  description: Represents records of a transaction between the insured and Ascend.
- name: Loans
  description: Loan details for a financed program
- name: OneTimePayments
  description: Represents records of a transaction between an insured and an agency or MGA.
- name: Payouts
  description: Money transfers between accounts triggered after an insured pays a quote.
- name: PremiumReducingEndorsements (Beta)
  description: Represents a premium reducing endorsement for an insurance quote.
- name: Programs
  description: A collection of insurance quotes pooled to produce 1 checkout link.
- name: Refunds
  description: A collection of refunds to the insured.
- name: Returns
  description: A collection of returns on one time payments or installment plans.
- name: Users
  description: Represent users that manage programs. They can be analysts, producers, support & admins.
paths:
  /v1/accounts:
    get:
      summary: List Accounts
      tags:
      - Accounts
      security:
      - bearer_auth: []
      parameters:
      - name: updated_at
        in: query
        style: deepObject
        explode: true
        description: Only return accounts that were updated during the given date interval. The date should be defined as
          an ISO-8601 datetime.
        required: false
        schema:
          type: object
          properties:
            lt:
              type: string
              format: date-time
              description: Maximum value to filter by (exclusive).
            gte:
              type: string
              format: date-time
              description: Minimum value to filter by (inclusive).
      - name: created_at
        in: query
        style: deepObject
        explode: true
        description: Only return accounts that were created during the given date interval. The date should be defined as
          an ISO-8601 datetime.
        required: false
        schema:
          type: object
          properties:
            lt:
              type: string
              format: date-time
              description: Maximum value to filter by (exclusive).
            gte:
              type: string
              format: date-time
              description: Minimum value to filter by (inclusive).
      responses:
        '200':
          description: List accounts
    post:
      summary: Create Accounts
      tags:
      - Accounts
      security:
      - bearer_auth: []
      parameters: []
      responses:
        '201':
          description: Create a new account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '400':
          description: Contact email domain matches an owner organization admin's domain
          content:
            application/json:
              examples:
                contact_email_domain_matches_owner_admin:
                  value:
                    errors:
                    - status: 400
                      title: Bad Request
                      detail: 'Contact email domain ''test.com'' is not allowed: it matches a domain used by an admin of the
                        owner organization.'
                      source: {}
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          example: 400
                        title:
                          type: string
                          example: Bad Request
                        detail:
                          type: string
                        source:
                          type: object
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Request schema for an organization account creation or details.
              properties:
                organization_account:
                  type: object
                  properties:
                    contact:
                      type: object
                      properties:
                        first_name:
                          type: string
                          description: Contact person's first name
                        last_name:
                          type: string
                          description: Contact person's last name
                        email:
                          type: string
                          description: Contact person's email address
                      required:
                      - first_name
                      - last_name
                      - email
                    agency:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Agency's legal name
                        doing_business_as:
                          type: string
                          description: Agency's trade or assumed name used by the agency for business purposes
                        phone:
                          type: string
                          description: Agency's contact phone number
                        federal_tax_identification_number:
                          type: string
                          description: Agency's federal tax identification number
                        business_type:
                          type: string
                          enum:
                          - sole_proprietorship
                          - partnership
                          - corporation
                          - llc
                          - non_profit
                          description: Agency's business type
                        url:
                          type: string
                          description: Agency's website URL
                        mailing_address:
                          type: object
                          properties:
                            street_one:
                              type: string
                              description: Mailing address street line one
                            street_two:
                              type: string
                              description: Mailing address street line two
                            city:
                              type: string
                              description: Mailing address city
                            state:
                              type: string
                              description: Mailing address state
                            zip_code:
                              type: string
                              description: Mailing address zip/postal code
                          required:
                          - street_one
                          - city
                          - state
                          - zip_code
                      required:
                      - name
                      - phone
                      - mailing_address
                    default_seller_commission_rate:
                      type: number
                      description: Default commission rate for the seller, expressed as a decimal (e.g., 0.05 for 5%)
                    default_account_fees_cents:
                      type: number
                      description: Required for Direct bill. Default account fee for the seller. Expressed in cents (e.g.,
                        1000 for $10.00)
                    payment_schedule:
                      type: string
                      enum:
                      - daily
                      - bi-weekly
                      - weekly
                      - monthly
                      description: Required for Direct bill. This is the schedule in which the agency would receive their
                        commission.
                    payment_settlement_period_max_days:
                      type: number
                      description: Maximum number of days for payment settlement period. Required for Direct bill.
                    billing_type:
                      type: string
                      description: Billing type for the agency
                      enum:
                      - agency
                      - direct
                    payable_account:
                      type: object
                      description: The account where the agency would receive their commissions
                      properties:
                        account_holder_name:
                          type: string
                          description: Name of the account holder
                        account_holder_type:
                          type: string
                          description: Type of account holder (e.g., individual or company)
                          enum:
                          - individual
                          - company
                        account_number:
                          type: string
                          description: Bank account number
                        confirm_account_number:
                          type: string
                          description: Confirmation of the bank account number
                        account_type:
                          type: string
                          enum:
                          - bank_account
                          - check
                          description: Type of account (e.g., bank account, check)
                        routing_number:
                          type: string
                          description: Bank routing number
                      required:
                      - account_holder_name
                      - account_holder_type
                      - account_number
                      - confirm_account_number
                      - account_type
                      - routing_number
                  required:
                  - contact
                  - agency
                  - default_seller_commission_rate
                  - billing_type
              required:
              - organization_account
  /v1/accounts/{id}:
    parameters:
    - name: id
      in: path
      description: Account identifier
      required: true
      schema:
        type: string
    get:
      summary: Get account
      tags:
      - Accounts
      security:
      - bearer_auth: []
      responses:
        '200':
          description: found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
    patch:
      summary: Update account
      tags:
      - Accounts
      security:
      - bearer_auth: []
      parameters: []
      responses:
        '200':
          description: found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                organization_account:
                  type: object
                  properties:
                    default_seller_commission_rate:
                      type: number
                      description: Default commission rate for the seller, expressed as a decimal (e.g., 0.05 for 5%)
                    default_account_fees_cents:
                      type: number
                      description: Required for Direct bill. Default account fee for the seller. Expressed in cents (e.g.,
                        1000 for $10.00)
              required:
              - organization_account
  /v1/attachments:
    post:
      summary: Create attachment
      tags:
      - Attachments
      operationId: createAttachment
      security:
      - bearer_auth: []
      parameters: []
      responses:
        '201':
          description: Attachment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachment'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: File to upload
                title:
                  type: string
                  description: Title of the attachment
                visibility:
                  type: string
                  enum:
                  - public
                  - private
                  description: Determines who can see this document. When visibility is set to public, anyone with access
                    to public urls such as checkout url will be able to see these documents. When visibility is set to private,
                    only users from your organization will be able to see the documents.
              required:
              - file
              - title
              - visibility
  /v1/attachments/{id}:
    parameters:
    - name: id
      in: path
      description: The attachment identifier
      required: true
      schema:
        type: string
    delete:
      summary: Delete Attachments
      security:
      - bearer_auth: []
      operationId: deleteAttachment
      tags:
      - Attachments
      responses:
        '204':
          description: Attachment deleted
        '404':
          description: Attachments not found
    get:
      summary: Get attachment
      tags:
      - Attachments
      operationId: getAttachment
      security:
      - bearer_auth: []
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachment'
        '404':
          description: Attachment not found
  /v1/billables:
    post:
      summary: Create Billable
      tags:
      - Billables
      operationId: createBillable
      security:
      - bearer_auth: []
      parameters: []
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Billable'
        '400':
          description: Conflicting commission parameters
        '404':
          description: Record not Found
        '422':
          description: Not found
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: An insurance quote or endorsement to be billed to the insured.
              properties:
                agency_fees_cents:
                  type: integer
                  minimum: 0
                  description: Fee collected by your agency or by your partner, if you are a MGA. Fully earned, not financeable,
                    and will be funded directly to your agency or partner.
                attachments:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The Attachment ID
                    required:
                    - id
                billable_identifier:
                  type: string
                  description: The identifier assigned to the quote/endorsement by the issuing carrier or wholesaler.
                broker_fee_cents:
                  type: integer
                  minimum: 0
                  description: Fee collected by the wholesaler. Fully earned, not financeable, and funded directly to the
                    wholesaler.
                carrier_identifier:
                  type: string
                  description: The identifier of the carrier who issued this quote. Required when billable is of type quote.
                    When the billable is an endorsement the carrier will be inherited from the parent billable.
                commission_terms:
                  type: array
                  deprecated: true
                  description: 'Deprecated: use `organization_account_commission_cents` or `organization_account_commission_rate`
                    instead.'
                  items:
                    type: object
                    properties:
                      organization_account_id:
                        type: string
                        description: The organization account to receive the commission. If null the commission will be funded
                          to your organization.
                      commission_cents:
                        type: number
                        format: integer
                        nullable: true
                        description: The commission amount for this entity in cents. One of `commission_cents` or `commission_rate`
                          is required.
                      commission_rate:
                        type: number
                        format: float
                        nullable: true
                        description: The commission rate for this entity. One of `commission_cents` or `commission_rate` is
                          required.
                coverage_identifier:
                  type: string
                  description: The identifier of coverage type the quote/endorsement covers.
                description:
                  type: string
                  description: For endorsements, add a short description to explain to the insured what is changing.
                effective_date:
                  type: string
                  format: date
                  description: 'The date upon the quote/endorsement goes into effect. Expected format: YYYY-MM-DD.'
                expiration_date:
                  type: string
                  format: datetime
                  description: 'The date when the quote/endorsement is no longer active. Expected format: YYYY-MM-DD'
                metadata:
                  type: object
                  description: Metadata to be associated with the billable. Keys cannot be longer than 40 characters, cannot
                    contain [] or {}, and the entire metadata object must be less than 5kB.
                  nullable: true
                min_earned_rate:
                  type: number
                  format: float
                  description: If there is a mininum earned on the policy, this field is required.
                organization_account_commission_cents:
                  type: number
                  format: integer
                  nullable: true
                  description: For MGAs, set this field for your partner's commission amount. You must set one of `organization_account_commission_cents`
                    or `organization_account_commission_rates`
                organization_account_commission_rate:
                  type: number
                  format: float
                  nullable: true
                  description: For MGAs, set this field for your partner's commission rate. You must set one of `organization_account_commission_cents`
                    or `organization_account_commission_rates`
                organization_commission_cents:
                  type: number
                  format: integer
                  nullable: true
                  description: Your commission amount for this policy. If you're an agency, you must set one of `organization_commission_cents`
                    or `organization_commission_rates`
                organization_commission_rate:
                  type: number
                  format: float
                  nullable: true
                  description: Your commission rate for this policy. If you're an agency, you must set one of `organization_commission_cents`
                    or `organization_commission_rates`
                other_fees_cents:
                  type: integer
                  minimum: 0
                  description: Any additional fees that come with the policy. This fee is treated as non-refundable & fully
                    earned.
                parent_billable_id:
                  type: string
                  format: uuid
                  description: To create a premium increasing endorsement, set this to the billable ID of the policy you are
                    endorsing. Should only be used if the intent is to create a premium increasing endorsement.
                policy_fee_cents:
                  type: integer
                  minimum: 0
                  description: Any policy fees that come with the quote. This fee is treated as non-refundable & fully earned.
                policy_number:
                  type: string
                  description: The number assigned to the policy once it has been bound.
                premium_cents:
                  type: integer
                  minimum: 0
                  description: The amount to pay for the quote or endorsement.
                program_id:
                  type: string
                  format: uuid
                  description: The id of the program the billable should be a part of.
                seller_commission_amount_cents:
                  type: number
                  format: integer
                  nullable: true
                  description: 'Deprecated: use `organization_commission_cents` instead. Your commission amount for this policy.
                    If you''re an agency, you must set one of `seller_commission_amount_cents` or `seller_commission_rate`.
                    If MGA or Wholesaler, set commission_terms.'
                  deprecated: true
                seller_commission_rate:
                  type: number
                  format: float
                  nullable: true
                  description: 'Deprecated: use `organization_commission_rate` instead. Your commission rate for this policy.
                    If you''re an agency, you must set one of `seller_commission_amount_cents` or `seller_commission_rate`.
                    If MGA or Wholesaler, set commission_terms.'
                  deprecated: true
                surplus_lines_tax_cents:
                  type: integer
                  minimum: 0
                  description: 'If you are filing surplus lines taxes & fees, set this field. These fees are financeable and
                    will be funded to you. Note: This field is only supported for organizations with surplus lines tax functionality
                    enabled. Contact developers@useascend.com to enable this feature.'
                taxes_and_fees_cents:
                  type: integer
                  minimum: 0
                  description: Any taxes & unearned fees. Taxes and fees are financed.
                wholesaler_identifier:
                  type: string
                  description: The identifier of the wholesaler or MGA that issued this quote. Required if you're an MGA or
                    Wholesaler. When the billable is an endorsement the wholesaler will be inherited from the parent billable.
              required:
              - billable_identifier
              - carrier_identifier
              - coverage_identifier
              - effective_date
              - expiration_date
              - premium_cents
              - program_id
              - billable_type
    get:
      summary: List Billables
      tags:
      - Billables
      operationId: listBillables
      security:
      - bearer_auth: []
      parameters:
      - name: program_id
        in: query
        required: false
        schema:
          type: string
          format: uuid
        description: Filter by the ID of the associated program
      - name: updated_at
        in: query
        style: deepObject
        explode: true
        description: Only return billables that were updated during the given date interval. The date should be defined as
          an ISO-8601 datetime.
        required: false
        schema:
          type: object
          properties:
            lt:
              type: string
              format: date-time
              description: Maximum value to filter by (exclusive).
            gte:
              type: string
              format: date-time
              description: Minimum value to filter by (inclusive).
      - name: created_at
        in: query
        style: deepObject
        explode: true
        description: Only return billables that were created during the given date interval. The date should be defined as
          an ISO-8601 datetime.
        required: false
        schema:
          type: object
          properties:
            lt:
              type: string
              format: date-time
              description: Maximum value to filter by (exclusive).
            gte:
              type: string
              format: date-time
              description: Minimum value to filter by (inclusive).
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Billable'
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                      next:
                        type: string
                        nullable: true
                      prev:
                        type: string
                        nullable: true
  /v1/billables/{id}:
    parameters:
    - name: id
      in: path
      description: The billable identifier
      required: true
      schema:
        type: string
    delete:
      summary: Delete Billable
      tags:
      - Billables
      operationId: deleteBillable
      security:
      - bearer_auth: []
      responses:
        '204':
          description: Billable deleted
        '404':
          description: Billable not found
    get:
      summary: Get Billable
      tags:
      - Billables
      operationId: getBillable
      security:
      - bearer_auth: []
      responses:
        '200':
          description: Billable found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Billable'
        '404':
          description: Billable not found
    patch:
      summary: Update Billable
      tags:
      - Billables
      operationId: updateBillable
      security:
      - bearer_auth: []
      parameters: []
      responses:
        '200':
          description: Billable updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Billable'
        '400':
          description: Billable type does not belong in checkout session
        '404':
          description: Billable not found
        '422':
          description: Unprocessable entity
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: An insurance quote or endorsement to be billed to the insured.
              properties:
                attachments:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The Attachment ID
                    required:
                    - id
                agency_fees_cents:
                  type: integer
                  minimum: 0
                  description: Fee collected by your agency or by your partner, if you are a MGA. Fully earned, not financeable,
                    and will be funded directly to your agency or partner.
                billable_identifier:
                  type: string
                  description: The identifier assigned to the quote/endorsement by the issuing carrier or wholesaler.
                broker_fee_cents:
                  type: integer
                  minimum: 0
                  description: Fee collected by the wholesaler. Fully earned, not financeable, and funded directly to the
                    wholesaler.
                carrier_identifier:
                  type: string
                  description: The identifier of the carrier who issued this quote. Required when billable is of type quote.
                    When the billable is an endorsement the carrier will be inherited from the parent billable.
                commission_terms:
                  type: array
                  deprecated: true
                  description: 'Deprecated: use `organization_account_commission_cents` or `organization_account_commission_rate`
                    instead.'
                  items:
                    type: object
                    properties:
                      organization_account_id:
                        type: string
                        description: The account to receive the commission. If null the commission will be funded to your
                          organization.
                      commission_cents:
                        type: number
                        format: integer
                        description: The commission amount for this entity in cents. One of `commission_cents` or `commission_rate`
                          is required.
                      commission_rate:
                        type: number
                        format: float
                        description: The commission rate for this entity.
                coverage_identifier:
                  type: string
                  description: The identifier of coverage type the quote/endorsement covers.
                description:
                  type: string
                  description: A short description to explain to the insured what they are purchasing.
                effective_date:
                  type: string
                  format: date
                  description: 'The date upon the quote/endorsement goes into effect. Expected format: YYYY-MM-DD.'
                expiration_date:
                  type: string
                  format: datetime
                  description: 'The date when the quote is no longer active. Expected format: YYYY-MM-DD.'
                is_auditable:
                  type: boolean
                  description: Determines if the carrier can audit customer raising premium significantly. Cannot be set when
                    billable is of type endorsement.
                is_filed:
                  type: boolean
                  description: Determines if specific lines of business are filed with other bureaus which they have to notify
                    on cancelation. Cannot be set when billable is of type endorsement.
                is_short_rate:
                  type: boolean
                  description: Determines if the policy is fined by 10% on top of earned premium when insured cancels. Cannot
                    be set when billable is of type endorsement.
                metadata:
                  type: object
                  description: Metadata to be associated with the billable. Keys cannot be longer than 40 characters, cannot
                    contain [] or {}, and the entire metadata object must be less than 5kB.
                  nullable: true
                min_days_to_cancel:
                  type: integer
                  description: Set state determined extended cancelation period for the policy.
                min_earned_rate:
                  type: number
                  format: float
                  description: The minimum rate to charge insureds when they decide to finance.
                organization_account_commission_cents:
                  type: number
                  format: integer
                  nullable: true
                  description: For MGAs, set this field for your partner's commission amount. You must set one of `organization_account_commission_cents`
                    or `organization_account_commission_rates`
                organization_account_commission_rate:
                  type: number
                  format: float
                  nullable: true
                  description: For MGAs, set this field for your partner's commission rate. You must set one of `organization_account_commission_cents`
                    or `organization_account_commission_rates`
                organization_commission_cents:
                  type: number
                  format: integer
                  nullable: true
                  description: Your commission amount for this policy. If you're an agency, you must set one of `organization_commission_cents`
                    or `organization_commission_rates`
                organization_commission_rate:
                  type: number
                  format: float
                  nullable: true
                  description: Your commission rate for this policy. If you're an agency, you must set one of `organization_commission_cents`
                    or `organization_commission_rates`
                other_fees_cents:
                  type: integer
                  minimum: 0
                  description: Any additional fees that come with the policy. This fee is treated as non-refundable & fully
                    earned.
                parent_billable_id:
                  type: string
                  format: uuid
                  description: The id of the billable to be endorsed.
                policy_fee_cents:
                  type: integer
                  minimum: 0
                  description: Any policy fees that come with the quote. This fee is treated as non-refundable & fully earned.
                policy_number:
                  type: string
                  description: The number assigned to the policy once it has been bound.
                premium_cents:
                  type: integer
                  minimum: 0
                  description: The amount to pay for the quote or endorsement.
                seller_commission_amount_cents:
                  type: number
                  format: integer
                  nullable: true
                  description: 'Deprecated: use `organization_commission_cents` instead. Your commission amount for this policy.
                    If you''re an agency, you must set one of `seller_commission_amount_cents` or `seller_commission_rate`.
                    If MGA or Wholesaler, set commission_terms.'
                  deprecated: true
                seller_commission_rate:
                  type: number
                  format: float
                  nullable: true
                  description: 'Deprecated: use `organization_commission_rate` instead. Your commission rate for this policy.
                    If you''re an agency, you must set one of `seller_commission_amount_cents` or `seller_commission_rate`.
                    If MGA or Wholesaler, set commission_terms.'
                  deprecated: true
                taxes_and_fees_cents:
                  type: integer
                  minimum: 0
                  description: Any taxes & unearned fees. Taxes and fees are financed.
                surplus_lines_tax_cents:
                  type: integer
                  minimum: 0
                  description: 'If you are filing surplus lines taxes & fees, set this field. These fees are financeable and
                    will be funded to you. Note: This field is only supported for organizations with surplus lines tax functionality
                    enabled. Contact developers@useascend.com to enable this feature.'
                wholesaler_identifier:
                  type: string
                  description: The identifier of the wholesaler that issued this quote. When the billable is an endorsement
                    the wholesaler will be inherited from the parent billable.
  /v1/cancelation_returns:
    post:
      summary: Create Cancelation Return
      tags:
      - CancelationReturns
      operationId: createCancelationReturns
      security:
      - bearer_auth: []
      parameters: []
      responses:
        '201':
          description: Create a new cancelation return
        '400':
          description: Cannot cancel billable if program is pending reinstatement.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Initiates a cancelation for a billable
              properties:
                billable_id:
                  type: string
                  description: The id of the billable to be canceled
                billable:
                  type: object
                  properties:
                    is_flat_cancelation:
                      type: boolean
                      description: Indicates if this is a flat cancelation
                    cancelation_effective_date:
                      type: string
                      format: date
                      description: The effective date of the cancelation
                unearned_commission_cents:
                  type: integer
                  description: Unearned commission amount in cents
                unearned_organization_account_commission_cents:
                  type: integer
                  description: Unearned commission amount in cents you're expecting to collect back from the associated account
                unearned_surplus_lines_tax_cents:
                  type: integer
                  description: Unearned surplus lines tax amount in cents.
                unearned_premium_cents:
                  type: integer
                  description: Unearned premium amount in cents
                cancelation_docs:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The id of an attachment previously uploaded via POST /v1/attachments. Ownership and resource_type
                          will be reassigned to this cancelation return.
                    required:
                    - id
                  description: List of supporting documents to associate with the cancelation return. Each element references
                    an existing attachment by id.
    get:
      summary: List Cancelation Returns
      tags:
      - CancelationReturns
      operationId: getCancelationReturns
      security:
      - bearer_auth: []
      parameters:
      - name: program_id
        in: query
        description: The program identifier
        schema:
          type: string
      - name: updated_at
        in: query
        style: deepObject
        explode: true
        description: Only return cancelation returns that were updated during the given date interval. The date should be
          defined as an ISO-8601 datetime.
        required: false
        schema:
          type: object
          properties:
            lt:
              type: string
              format: date-time
              description: Maximum value to filter by (exclusive).
            gte:
              type: string
              format: date-time
              description: Minimum value to filter by (inclusive).
      - name: created_at
        in: query
        style: deepObject
        explode: true
        description: Only return cancelation returns that were created during the given date interval. The date should be
          defined as an ISO-8601 datetime.
        required: false
        schema:
          type: object
          properties:
            lt:
              type: string
              format: date-time
              description: Maximum value to filter by (exclusive).
            gte:
              type: string
              format: date-time
              description: Minimum value to filter by (inclusive).
      responses:
        '200':
          description: List cancelation returns
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CancelationReturn'
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                      next:
                        type: string
                        nullable: true
                      prev:
                        type: string
                        nullable: true
  /v1/cancelation_returns/{id}:
    parameters:
    - name: id
      in: path
      description: The cancelation return identifier
      required: true
      schema:
        type: string
    get:
      summary: Get Cancelation Return
      tags:
      - CancelationReturns
      operationId: getCancelationReturn
      security:
      - bearer_auth: []
      responses:
        '200':
          description: Get cancelation return
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelationReturn'
    patch:
      summary: Update Cancelation Returns
      tags:
      - CancelationReturns
      operationId: updateCancelationReturn
      security:
      - bearer_auth: []
      parameters: []
      responses:
        '200':
          description: Update cancelation return for agency
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelationReturn'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Updates a cancelation return for a billable
              properties:
                billable:
                  type: object
                  properties:
                    is_flat_cancelation:
                      type: boolean
                      description: Indicates if this is a flat cancelation
                    cancelation_effective_date:
                      type: string
                      format: date
                      description: The effective date of the cancelation
                unearned_commission_cents:
                  type: integer
                  description: Unearned commission amount in cents
                unearned_organization_account_commission_cents:
                  type: integer
                  description: Unearned commission amount in cents you're expecting to collect back from the associated account
                unearned_surplus_lines_tax_cents:
                  type: integer
                  description: Unearned surplus lines tax amount in cents
                unearned_premium_cents:
                  type: integer
                  description: Unearned premium amount in cents
                cancelation_docs:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The id of the attachment.
                      url:
                        type: string
                        format: string
                        description: The url of the attachment.
                    description: Details of the billable being canceled
                  description: List of supporting documents
  /v1/carriers:
    get:
      summary: List Carriers
      tags:
      - Carriers
      operationId: listCarriers
      security:
      - bearer_auth: []
      parameters:
      - name: page
        in: query
        description: The requested page number. Default page number is 0.
        schema:
          type: integer
      - name: search_query
        in: query
        description: The term used to search. An empty query can be used to fetch all carriers sorted by the carrier name
          in alphabetical order.
        schema:
          type: string
      responses:
        '200':
          description: successful
  /v1/contacts:
    get:
      summary: List Contacts
      tags:
      - Contacts
      security:
      - bearer_auth: []
      parameters:
      - name: email
        in: query
        required: false
        schema:
          type: string
        description: Filter by contact email address (case-insensitive)
      - name: page
        in: query
        required: false
        schema:
          type: integer
        description: Page number for paginating results. Default is 1.
      - name: updated_at
        in: query
        style: deepObject
        explode: true
        description: Only return contacts that were updated during the given date interval. The date should be defined as
          an ISO-8601 datetime.
        required: false
        schema:
          type: object
          properties:
            lt:
              type: string
              format: date-time
              description: Maximum value to filter by (exclusive).
            gte:
              type: string
              format: date-time
              description: Minimum value to filter by (inclusive).
      - name: created_at
        in: query
        style: deepObject
        explode: true
        description: Only return contacts that were created during the given date interval. The date should be defined as
          an ISO-8601 datetime.
        required: false
        schema:
          type: object
          properties:
            lt:
              type: string
              format: date-time
              description: Maximum value to filter by (exclusive).
            gte:
              type: string
              format: date-time
              description: Minimum value to filter by (inclusive).
      responses:
        '200':
          description: successful
    post:
      summary: Create Contact
      tags:
      - Contacts
      security:
      - bearer_auth: []
      parameters: []
      responses:
        '201':
          description: successful
        '400':
          description: bad request
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  description: The email for the contact
                first_name:
                  type: string
                  description: First name of the contact.
                last_name:
                  type: string
                  description: Last name of the contact.
                phone:
                  type: string
                  description: 'Phone number. Formatted: 5555555555'
              required:
              - email
              - first_name
              - last_name
  /v1/contacts/{id}:
    get:
      summary: Get Contact
      tags:
      - Contacts
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: successful
        '404':
          description: not found
    patch:
      summary: Update contact
      tags:
      - Contacts
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: successful
        '404':
          description: not found
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  description: The email for the contact
                first_name:
                  type: string
                  description: First name of the contact.
                last_name:
                  type: string
                  description: Last name of the contact.
                phone:
                  type: string
                  description: 'Phone number. Formatted: 5555555555'
  /v1/coverage_types:
    get:
      summary: List CoverageTypes
      tags:
      - CoverageTypes
      operationId: listCoverageTypes
      security:
      - bearer_auth: []
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: successful
  /v1/finance_estimates:
    post:
      summary: Create FinanceEstimate
      tags:
      - FinanceEstimate
      security:
      - bearer_auth: []
      parameters: []
      responses:
        '201':
          description: successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinanceEstimate'
        '400':
          description: Bad Request
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                premium_cents:
                  type: integer
                  description: The gross premium reduction for the policy.
                minimum_earned_rate:
                  type: number
                  format: float
                  description: The minimum rate to charge insureds when they decide to finance.
                  minimum: 0
                  maximum: 1
                agency_fees_cents:
                  type: integer
                  minimum: 0
                  description: Fee collected by your agency. Fully earned, not financeable, and funded directly to your agency.
                policy_fee_cents:
                  type: integer
                  minimum: 0
                  description: Any policy fees that come with the quote. This fee is treated as non-refundable & fully earned.
                broker_fee_cents:
                  type: integer
                  minimum: 0
                  description: Fee collected by the wholesaler. Fully earned, not financeable, and funded directly to the
                    wholesaler.
                taxes_and_fees_cents:
                  type: integer
                  minimum: 0
                  description: Any taxes & unearned fees. Taxes and fees are financed.
                other_fees_cents:
                  type: integer
                  minimum: 0
                  description: Any additional fees that come with the policy. This fee is treated as non-refundable & fully
                    earned.
                custom_terms:
                  type: object
                  properties:
                    downpayment_rate:
                      type: number
                      format: float
                      description: The downpayment rate to be paid upfront.
                      minimum: 0
                      maximum: 1
                    interest_rate:
                      type: number
                      format: float
                      description: The interest rate for the quote.
                      minimum: 0
                      maximum: 1
                    number_of_payments:
                      type: integer
                      description: The number of payments that will be made to repay the loan.
                      minimum: 0
                      maximum: 10
                      example: 10
                    payment_frequency:
                      type: string
                      enum:
                      - monthly
                      - quarterly
                      - semiannual
                      description: How often payments will be made.
              required:
              - premium_cents
  /v1/installment_plans:
    post:
      summary: Create installment plan
      tags:
      - InstallmentPlans
      security:
      - bearer_auth: []
      parameters: []
      responses:
        '201':
          description: created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstallmentPlan'
        '400':
          description: Bad request
        '422':
          description: Unprocessable entity
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: An installment plan for a series of payments
              properties:
                account_manager_id:
                  type: string
                  format: uuid
                  description: Id of the account manager belonging to your organization who will receive email communications
                    for the installment plan
                secondary_account_manager_id:
                  type: string
                  format: uuid
                  description: Id of the secondary account manager belonging to your organization who will receive the same
                    email communications for the installment plan as the account manager
                attachments:
                  type: array
                  nullable: true
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: The unique identifier of the attachment.
                    required:
                    - id
                billing_type:
                  type: string
                  enum:
                  - agency_bill
                  - direct_bill
                  description: (MGA only) The type of billing used for this one time payment. If not specified, defaults to
                    the billing type on the organization account.
                installments:
                  type: array
                  description: An array of installments
                  items:
                    type: object
                    properties:
                      amount_cents:
                        type: integer
                        description: Total amount to be paid for the installment
                      due_date:
                        type: string
                        format: date
                        description: 'Due date of the installment. Format: YYYY-MM-DD'
                      payables:
                        type: array
                        description: Payables paid to your organization
                        items:
                          type: object
                          properties:
                            amount_cents:
                              type: integer
                              description: Amount to be paid
                            account_type:
                              type: string
                              enum:
                              - trust_account
                              - commission_account
                              description: The type of the bank account that will receive funds
                            remittance_memo:
                              type: string
                              description: Remittance memo such as the policy number to identify the payable
                              maxLength: 50
                          required:
                          - amount_cents
                          - account_type
                          - remittance_memo
                      company_payables:
                        type: array
                        description: Payables paid to the issuing or billing company
                        items:
                          type: object
                          properties:
                            amount_cents:
                              type: integer
                              description: Amount to be paid
                            identifier:
                              type: string
                              description: Identifier of the issuing or billing company
                            remittance_memo:
                              type: string
                              description: Remittance memo such as the policy number to identify the payable
                              maxLength: 50
                          required:
                          - amount_cents
                          - identifier
                          - remittance_memo
                      organization_account_payables:
                        type: array
                        description: Payables to partner agencies
                        items:
                          type: object
                          properties:
                            amount_cents:
                              type: integer
                              description: Amount to be paid
                            organization_account_id:
                              type: string
                              description: Organization account id for the partner agency
                            remittance_memo:
                              type: string
                              description: Remittance memo such as the policy number to identify the payable
                              maxLength: 50
                          required:
                          - amount_cents
                          - organization_account_id
                          - remittance_memo
                    required:
                    - amount_cents
                    - due_date
                  minItems: 2
                insured_id:
                  type: string
                  format: uuid
                  description: Id of the insured responsible for installment payments
                memo:
                  type: string
                  description: Short description for the installment plan
                  maxLength: 50
                metadata:
                  type: object
                  description: Metadata to be associated with the installment plan. Keys cannot be longer than 40 characters,
                    cannot contain [] or {}, and the entire metadata object must be less than 5kB.
                  nullable: true
                organization_account:
                  type: object
                  description: (MGA only) The billing account associated to the one time payment. This can represent either
                    the wholesaler or the retail agency.
                  nullable: true
                  properties:
                    id:
                      type: string
                      format: uuid
                      description: The unique identifier of the billing account associated to the one time payment.
                    users:
                      type: array
                      description: An array of user ids belonging to the billing account who should receive communications
                        for the installment plan.
                      items:
                        type: string
                        format: uuid
              required:
              - insured_id
              - account_manager_id
              - memo
              - installments
  /v1/installment_plans/{id}:
    delete:
      summary: Archive Installment Plan
      tags:
      - InstallmentPlans
      operationId: archiveInstallmentPlan
      security:
      - bearer_auth: []
      description: Archives a unpurchased installment plan. This will void all installments.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Installment Plan Archived
        '422':
          description: unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstallmentPlan'
    parameters:
    - name: id
      in: path
      description: The id of the installment plan
      required: true
      schema:
        type: string
    get:
      summary: Get installment plan
      tags:
      - InstallmentPlans
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstallmentPlan'
    patch:
      summary: Update Installment Plan
      tags:
      - InstallmentPlans
      operationId: updateInstallmentPlan
      security:
      - bearer_auth: []
      parameters: []
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstallmentPlan'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                account_manager_id:
                  type: string
                  format: uuid
                  description: Id of the account manager who will receive the email communications for the installment plan
                metadata:
                  type: object
                  description: Metadata to be associated with the installment plan. Keys cannot be longer than 40 characters,
                    cannot contain [] or {}, and the entire metadata object must be less than 5kB.
                  nullable: true
                secondary_account_manager_id:
                  type: string
                  format: uuid
                  description: Id of the secondary account manager who will receive the same email communications for the
                    installment plan as the account manager
                organization_account:
                  type: object
                  description: (MGA only) The billing account associated to the installment plan. This can represent either
                    the wholesaler or the retail agency.
                  properties:
                    users:
                      type: array
                      description: An array of user ids belonging to the billing account who should receive communications
                        for the installment plan.
                      items:
                        type: string
                        format: uuid
              type: object
  /v1/installment_plans/{id}/cancel:
    parameters:
    - name: id
      in: path
      description: The id of the installment plan
      required: true
      schema:
        type: string
    post:
      summary: Cancel Installment Plan
      tags:
      - InstallmentPlans
      operationId: cancelInstallmentPlan
      security:
      - bearer_auth: []
      description: Cancels a purchased installment plan. This will void any unpaid installments, but existing payments will
        not be reversed.
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstallmentPlan'
        '422':
          description: unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstallmentPlan'
  /v1/installment_plans/{id}/send:
    parameters:
    - name: id
      in: path
      description: The id of the installment plan
      required: true
      schema:
        type: string
    post:
      summary: Notify User
      tags:
      - InstallmentPlans
      operationId: sendInstallmentPlanReminder
      security:
      - bearer_auth: []
      responses:
        '200':
          description: successful
  /v1/installment_plans/{installment_plan_id}/returns:
    get:
      summary: Get returns
      tags:
      - Returns
      security:
      - bearer_auth: []
      parameters:
      - name: installment_plan_id
        in: path
        required: true
        schema:
          type: string
      - name: updated_at
        in: query
        style: deepObject
        explode: true
        description: Only return installment plan returns that were updated during the given date interval. The date should
          be defined as an ISO-8601 datetime.
        required: false
        schema:
          type: object
          properties:
            lt:
              type: string
              format: date-time
              description: Maximum value to filter by (exclusive).
            gte:
              type: string
              format: date-time
              description: Minimum value to filter by (inclusive).
      - name: created_at
        in: query
        style: deepObject
        explode: true
        description: Only return installment plan returns that were created during the given date interval. The date should
          be defined as an ISO-8601 datetime.
        required: false
        schema:
          type: object
          properties:
            lt:
              type: string
              format: date-time
              description: Maximum value to filter by (exclusive).
            gte:
              type: string
              format: date-time
              description: Minimum value to filter by (inclusive).
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Return'
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                      next:
                        type: string
                        nullable: true
                      prev:
                        type: string
                        nullable: true
    post:
      summary: Create a return
      tags:
      - Returns
      security:
      - bearer_auth: []
      parameters:
      - name: installment_plan_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Return'
        '400':
          description: Bad request
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: A document representing a return of funds on a one time payment or installment plan.
              properties:
                amount_cents:
                  description: The amount to return to the payer.
                  type: integer
                remittance_memo:
                  type: string
                  description: Information about why the funds are being returned.
                  default: Refund for one time payment
              required:
              - amount_cents
  /v1/installment_plans/{installment_plan_id}/returns/{return_id}:
    delete:
      summary: Void return
      tags:
      - Returns
      security:
      - bearer_auth: []
      parameters:
      - name: installment_plan_id
        in: path
        required: true
        schema:
          type: string
      - name: return_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: success
    get:
      summary: Get a return
      tags:
      - Returns
      security:
      - bearer_auth: []
      parameters:
      - name: installment_plan_id
        in: path
        required: true
        schema:
          type: string
      - name: return_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Return'
    patch:
      summary: Update a return
      tags:
      - Returns
      security:
      - bearer_auth: []
      parameters:
      - name: installment_plan_id
        in: path
        required: true
        schema:
          type: string
      - name: return_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Return'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: A document representing a return of funds on a one time payment or installment plan.
              properties:
                amount_cents:
                  description: The amount to return to the payer.
                  type: integer
                remittance_memo:
                  type: string
                  description: Information about why the funds are being returned.
                  default: Refund for one time payment
              required:
              - amount_cents
  /v1/installments/{id}:
    get:
      summary: Get installment
      tags:
      - Installments
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        description: Id of the installment
        required: true
        schema:
          type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Installment'
        '403':
          description: Unauthorized
    patch:
      summary: Update installment
      tags:
      - Installments
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        description: Id of the installment
        required: true
        schema:
          type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Installment'
        '403':
          description: Unauthorized
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                due_date:
                  type: string
                  format: date
                  description: 'Due date of the installment. Format: YYYY-MM-DD'
                amount_cents:
                  type: integer
                  description: Total amount to be paid for the installment
                payables:
                  type: array
                  description: Payables paid to your organization
                  items:
                    type: object
                    properties:
                      amount_cents:
                        type: integer
                        description: Amount to be paid
                      account_type:
                        type: string
                        enum:
                        - trust_account
                        - commission_account
                        description: The type of the bank account that will receive funds
                      remittance_memo:
                        type: string
                        description: Remittance memo such as the policy number to identify the payable
                        maxLength: 50
                    required:
                    - amount_cents
                    - account_type
                    - remittance_memo
                company_payables:
                  type: array
                  description: Payables paid to the issuing or billing company
                  items:
                    type: object
                    properties:
                      amount_cents:
                        type: integer
                        description: Amount to be paid
                      identifier:
                        type: string
                        description: Identifier of the issuing or billing company
                      remittance_memo:
                        type: string
                        description: Remittance memo such as the policy number to identify the payable
                        maxLength: 50
                    required:
                    - amount_cents
                    - identifier
                    - remittance_memo
                organization_account_payables:
                  type: array
                  description: Payables to partner agencies
                  items:
                    type: object
                    properties:
                      amount_cents:
                        type: integer
                        description: Amount to be paid
                      organization_account_id:
                        type: string
                        description: Organization account id for the partner agency
                      remittance_memo:
                        type: string
                        description: Remittance memo such as the policy number to identify the payable
                        maxLength: 50
                    required:
                    - amount_cents
                    - organization_account_id
                    - remittance_memo
  /v1/insureds:
    post:
      summary: Create Insured
      tags:
      - Insureds
      operationId: createInsured
      security:
      - bearer_auth: []
      parameters: []
      responses:
        '201':
          description: successful - multiple contact format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Insured'
        '400':
          description: Bad Request
        '404':
          description: Customer Contact not found
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: At least one primary insured or agency contact required
              properties:
                insured_contacts:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: UUID of the insured contact
                      role:
                        type: string
                        enum:
                        - primary
                        - secondary
                        description: Primary role indicates primary contact for insured account. Only one primary contact
                          is allowed per account.
                    required:
                    - id
                    - role
                business_name:
                  type: string
                  description: If the insured is a business, the business name is required.
                is_business:
                  type: boolean
                  description: Determines if the insured is a business entity. If it is not it will be assumed that the insured
                    is a person.
                mailing_address_street_one:
                  type: string
                  description: Mailing Street address
                mailing_address_street_two:
                  type: string
                  description: Suite or unit
                mailing_address_city:
                  type: string
                  description: Mailing city
                mailing_address_state:
                  $ref: '#/components/schemas/StateAnsiCodes'
                mailing_address_zip_code:
                  type: string
                  description: Mailing zip code
              required:
              - is_business
              - mailing_address_city
              - mailing_address_state
              - mailing_address_street_one
              - mailing_address_zip_code
    get:
      summary: List Insureds
      tags:
      - Insureds
      operationId: listInsureds
      security:
      - bearer_auth: []
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: email
        in: query
        required: false
        description: Filter by associated email
        schema:
          type: string
      - name: business_name
        in: query
        required: false
        description: Search by business name
        schema:
          type: string
      responses:
        '200':
          description: successful
  /v1/insureds/{id}:
    parameters:
    - name: id
      in: path
      description: The insured identifier
      required: true
      schema:
        type: string
    get:
      summary: Get Insured
      tags:
      - Insureds
      operationId: getInsured
      security:
      - bearer_auth: []
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Insured'
    patch:
      summary: Update Insured
      tags:
      - Insureds
      operationId: updateInsured
      security:
      - bearer_auth: []
      parameters: []
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Insured'
        '400':
          description: Bad Request
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                insured_contacts:
                  description: Updating contacts for an insured will override all existing contacts
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: UUID of the insured contact
                      role:
                        type: string
                        enum:
                        - primary
                        - secondary
                        description: Primary role indicates primary contact for insured account. Only one primary contact
                          is allowed per account.
                    required:
                    - id
                    - role
                business_name:
                  type: string
                  description: Business name. Either first + last name or business name is required.
                is_business:
                  type: boolean
                  description: Determines if the insured is a business entity. If it is not it will be assumed that the insured
                    is a person.
                mailing_address_street_one:
                  type: string
                  description: Mailing Street address
                mailing_address_street_two:
                  type: string
                  description: Suite or unit
                mailing_address_city:
                  type: string
                  description: Mailing city
                mailing_address_state:
                  $ref: '#/components/schemas/StateAnsiCodes'
                mailing_address_zip_code:
                  type: string
                  description: Mailing zip code
              required:
              - is_business
              - mailing_address_city
              - mailing_address_state
              - mailing_address_street_one
              - mailing_address_zip_code
  /v1/insureds/{id}/payment_methods:
    parameters:
    - name: id
      in: path
      description: The id of the insured
      required: true
      schema:
        type: string
        format: uuid
    get:
      summary: List the insured's last-used payment method
      tags:
      - Insureds
      operationId: listInsuredPaymentMethods
      security:
      - bearer_auth: []
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
      - name: items
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: successful - empty when no succeeded payment intent exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethod'
        '401':
          description: unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
        '404':
          description: insured belongs to another organization
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
  /v1/invoices:
    post:
      summary: Create invoice
      tags:
      - Invoices
      operationId: createInvoice
      security:
      - bearer_auth: []
      parameters: []
      responses:
        '201':
          description: successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        '400':
          description: Bad request
        '422':
          description: Unprocessable Entity
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: A document representing a transaction between the insured and Ascend.
              properties:
                account_manager_id:
                  description: The unique identifier of the user associated as the account manager for the invoice. This user
                    is listed as the agent on checkout and receives any invoice communications
                  format: uuid
                  type: string
                attachments:
                  type: array
                  nullable: true
                  items:
                    type: object
                    properties:
                      url:
                        type: string
                due_date:
                  type: string
                  format: date
                  nullable: true
                  description: The date by which the invoice should be paid.
                insured_id:
                  type: string
                  format: uuid
                  description: The unique identifier of the insured the invoice is attached to.
                invoice_items:
                  type: array
                  description: A breakdown of items the insured is being charged for
                  items:
                    $ref: '#/components/schemas/InvoiceItem'
                memo:
                  type: string
                  description: Information about the invoice shown to the insured.
                  default: Invoice for {payer_name}
                  nullable: true
                  example: Additional premium for auto policy
                payer_name:
                  type: string
                  description: The name of the insured/business paying for the invoice.
                  example: Auto Sales Inc.
              required:
              - account_manager_id
              - due_date
              - insured_id
              - invoice_items
              - payer_name
    get:
      summary: List Invoices
      tags:
      - Invoices
      operationId: listInvoices
      security:
      - bearer_auth: []
      parameters:
      - $ref: '#/components/parameters/program_id'
      - $ref: '#/components/parameters/program_ids'
      - name: page
        in: query
        description: Page number for paginating results. Default is 1.
        required: false
        schema:
          type: integer
      - name: billable_id
        in: query
        description: Filter by associated billable
        required: false
        schema:
          type: string
      - name: insured_id
        in: query
        description: Filter for invoices to be paid by associated insured
        required: false
        schema:
          type: string
      - name: product_type
        in: query
        schema:
          type: string
          description: Type of invoice to filter by
          enum:
          - one_time_payment
          - installment_plan
        required: false
      - name: due_date_start
        in: query
        schema:
          type: string
          format: date
          description: Filter by invoices due on or after this date
        required: false
      - name: due_date_end
        in: query
        schema:
          type: string
          format: date
          description: Filter by invoices due on or before this date
        required: false
      - name: paid_at_start
        in: query
        schema:
          type: string
          format: date
          description: Filter by invoices paid after this date
        required: false
      - name: paid_at_end
        in: query
        schema:
          type: string
          format: date
          description: Filter by invoices paid before this date
        required: false
      - name: updated_at
        in: query
        style: deepObject
        explode: true
        description: Only return invoices that were updated during the given date interval. The date should be defined as
          an ISO-8601 datetime.
        required: false
        schema:
          type: object
          properties:
            lt:
              type: string
              format: date-time
              description: Maximum value to filter by (exclusive).
            gte:
              type: string
              format: date-time
              description: Minimum value to filter by (inclusive).
      - name: created_at
        in: query
        style: deepObject
        explode: true
        description: Only return invoices that were created during the given date interval. The date should be defined as
          an ISO-8601 datetime.
        required: false
        schema:
          type: object
          properties:
            lt:
              type: string
              format: date-time
              description: Maximum value to filter by (exclusive).
            gte:
              type: string
              format: date-time
              description: Minimum value to filter by (inclusive).
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Invoice'
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                      next:
                        type: string
                        nullable: true
                      prev:
                        type: string
                        nullable: true
  /v1/invoices/{id}:
    parameters:
    - name: id
      in: path
      description: The invoice identifier
      required: true
      schema:
        type: string
    get:
      summary: Get Invoice
      tags:
      - Invoices
      operationId: getInvoice
      security:
      - bearer_auth: []
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        '404':
          description: not found
    patch:
      summary: Update invoice
      tags:
      - Invoices
      operationId: updateInvoice
      security:
      - bearer_auth: []
      parameters: []
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        '400':
          description: Bad request
        '422':
          description: Unprocessable Entity
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: A document representing a transaction between the insured and Ascend.
              properties:
                account_manager_id:
                  description: The unique identifier of the user associated as the account manager for the invoice. This user
                    is listed as the agent on checkout and receives any invoice communications
                  format: uuid
                  type: string
                due_date:
                  type: string
                  format: date
                  nullable: true
                  description: The date by which the invoice should be paid.
                insured_id:
                  type: string
                  format: uuid
                  description: The unique identifier of the insured the invoice is attached to.
                invoice_items:
                  type: array
                  description: A breakdown of items the insured is being charged for
                  items:
                    $ref: '#/components/schemas/InvoiceItem'
                memo:
                  type: string
                  description: Information about the invoice shown to the insured.
                  nullable: true
                  example: Additional premium for auto policy
                payee:
                  type: string
                  description: 'The name of the insured/business. Deprecated: user payer_name'
                  example: Auto Sales Inc.
                  deprecated: true
                payer_name:
                  type: string
                  description: The name of the insured/business paying for the invoice.
                  example: Auto Sales Inc.
    delete:
      summary: Void invoice
      tags:
      - Invoices
      operationId: voidInvoice
      security:
      - bearer_auth: []
      responses:
        '204':
          description: Invoice voided
  /v1/invoices/{id}/charge:
    parameters:
    - name: id
      in: path
      description: The invoice identifier
      required: true
      schema:
        type: string
    post:
      summary: Charge a renewal program's initial checkout invoice using the insured's stored payment method
      tags:
      - Invoices
      operationId: chargeInvoice
      security:
      - bearer_auth: []
      parameters: []
      responses:
        '200':
          description: Invoice charged successfully
        '400':
          description: Invoice ineligible (caller sent the wrong invoice / program / payer)
        '403':
          description: api_invoice_charge feature is not enabled for the organization
        '404':
          description: Payment method not found
        '422':
          description: Payment failed (card declined, requires_action / 3DS, already_charged, etc.)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - payment_method_id
              properties:
                payment_method_id:
                  type: string
                  description: Identifier of the insured's payment method to charge. Must belong to the program's insured
                    payer and have prior use on a different program in this organization.
  /v1/loans:
    get:
      summary: List Loans
      tags:
      - Loans
      operationId: listLoans
      security:
      - bearer_auth: []
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: status
        in: query
        required: false
        description: Filter by associated status
        schema:
          type: string
      - name: program_id
        in: query
        required: false
        description: Filter by associated program
        schema:
          type: string
      - name: updated_at
        in: query
        style: deepObject
        explode: true
        description: Only return loans that were updated during the given date interval. The date should be defined as an
          ISO-8601 datetime.
        required: false
        schema:
          type: object
          properties:
            lt:
              type: string
              format: date-time
              description: Maximum value to filter by (exclusive).
            gte:
              type: string
              format: date-time
              description: Minimum value to filter by (inclusive).
      - name: created_at
        in: query
        style: deepObject
        explode: true
        description: Only return loans that were created during the given date interval. The date should be defined as an
          ISO-8601 datetime.
        required: false
        schema:
          type: object
          properties:
            lt:
              type: string
              format: date-time
              description: Maximum value to filter by (exclusive).
            gte:
              type: string
              format: date-time
              description: Minimum value to filter by (inclusive).
      responses:
        '200':
          description: Loans found
  /v1/loans/{id}:
    get:
      summary: Get Loan
      tags:
      - Loans
      operationId: getLoan
      security:
      - bearer_auth: []
      parameters:
      - name: id
        in: path
        description: The loan identifier
        required: true
        schema:
          type: string
      responses:
        '200':
          description: return loan with id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Loan'
        '404':
          description: Loan not found
  /v1/one_time_payments:
    post:
      summary: Create One Time Payment
      tags:
      - OneTimePayments
      operationId: createOneTimePayment
      security:
      - bearer_auth: []
      parameters: []
      responses:
        '201':
          description: successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OneTimePayment'
        '400':
          description: Bad Request
        '422':
          description: Unprocessable entity
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: A document representing a transaction between an insured and an agency or MGA.
              properties:
                account_manager_id:
                  description: The unique identifier of the user belonging to your organization that will be associated as
                    the account manager for the one time payment. This user is listed as the agent on checkout and receives
                    any invoice communications
                  format: uuid
                  type: string
                secondary_account_manager_id:
                  description: The unique identifier of the user belonging to your organization that will be associated as
                    the secondary account manager for the one time payment. This user receives any invoice communications
                    that the account manager also receives
                  format: uuid
                  type: string
                attachments:
                  type: array
                  nullable: true
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: The unique identifier of the attachment.
                    required:
                    - id
                billing_type:
                  type: string
                  enum:
                  - agency_bill
                  - direct_bill
                  description: (MGA only) The type of billing used for this one time payment. If not specified, defaults to
                    the billing type on the organization account.
                due_date:
                  type: string
                  format: date
                  nullable: true
                  description: The date by which the one time payment should be paid.
                funds_distribution:
                  type: object
                  description: Dictates where funds will be routed upon receiving payment for this one time payment. Defaults
                    to full allocation to the issuer's configured bank account.
                  properties:
                    company_payables:
                      type: array
                      description: Payables paid to the issuing or billing company
                      items:
                        type: object
                        properties:
                          amount_cents:
                            type: integer
                            description: Amount to be paid
                          identifier:
                            type: string
                            description: Identifier of the issuing or billing company
                          remittance_memo:
                            type: string
                            description: Remittance memo such as the policy number to identify the payable
                            maxLength: 50
                        required:
                        - amount_cents
                        - identifier
                        - remittance_memo
                    organization_account_payables:
[...]
